{% extends 'base.html' %}

{% block content %}
  <h2>Order Management</h2>
  <table>
    <thead>
      <tr>
        <th>Sl. No</th>
        <th>Username</th>
        <th>Address</th>
        <th>Quantity</th>
        <th>Product Name</th>
        <th>Order Details</th>
        <th>pincode</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ order.user.username }}</td>
          <td>{{ order.user.customerprofile.street_address }}, {{ order.user.customerprofile.city }}, {{ order.user.customerprofile.state }} - {{ order.user.customerprofile.pincode }}</td>
          <td>{{ order.total_quantity }}</td>
          <td>
            {% for order_item in order.orderitem_set.all %}
              {{ order_item.product.product_name }} (Qty: {{ order_item.quantity }})<br>
            {% endfor %}
          </td>
          <td>
            Order ID: {{ order.id }}<br>
            Total Amount: ${{ order.total_amount }}<br>
            Payment Status: {% if order.payment_status %}Paid{% else %}Pending{% endif %}<br>
            Order Date: {{ order.created_at|date:"F d, Y" }}<br>
          </td>
          <td>
            {% if not order.delivery_team %}
              <form action="{% url 'assign_delivery_team' order.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Assign Delivery Team</button>
              </form>
            {% else %}
              Assigned to {{ order.delivery_team.team_name }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
